<div class="row page-header">
    <div class="col-sm-8">
        <div class="btn-group">
            {{app.breadcrumb.render|raw}}
        </div>
    </div>
    <div class="col-sm-4 text-right ">
        <form>
            <div class="input-group">
                <input type="text" class="form-control" placeholder="">
                <span class="input-group-btn"><button type="button" class="btn btn-primary"><b>Search</b></button></span>
            </div>
        </form>
    </div>
</div>
<div class="row animated fadeIn">
    <div class="col-lg-12">
        <div class="ibox float-e-margins">
            <div class="ibox-title">
                <div class="row">
                    <div class="col-md-6">
                        <select class="form-control form-control-inline">
                            <option value="10">Select Status</option>
                            <option value="25">Active</option>
                            <option value="50">Inactive</option>
                        </select>
                    </div>
                    <div class="col-md-3 pull-right text-right">
                        <a class="btn btn-default btn-bitbucket"><i class="fa fa-plus"></i> <b>Add</b></a>
                    </div>
                </div>
            </div>
            <div class="ibox-content">
                <table class="table data-table table-striped table-bordered table-hover table-condensed">
                    <thead>
                        <tr role="row">
                            <th width="150" class="sorting_asc" tabindex="0" rowspan="1" colspan="1">Rendering engine</th>
                            <th width="" class="sorting" tabindex="0" rowspan="1" colspan="1">Browser</th>
                            <th width="" class="sorting" tabindex="0" rowspan="1" colspan="1">Platform(s)</th>
                            <th width="100" class="sorting" tabindex="0" rowspan="1" colspan="1">Engine version</th>
                            <th width="100" class="text-center" tabindex="0" rowspan="1" colspan="1">Action</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td class="">Gecko</td>
                            <td class="">Firefox 1.0</td>
                            <td class="">Win 98+ / OSX.2+</td>
                            <td class="center ">1.7</td>
                            <td class="text-center">
                                <button class="btn btn-default btn-rounded btn-outline btn-xs"><i class="fa fa-times"></i></button>
                                <button class="btn btn-default btn-rounded btn-outline btn-xs"><i class="fa fa-check"></i></button>
                            </td>
                        </tr>
                        <tr>
                            <td class="">Gecko</td>
                            <td class="">Firefox 1.0</td>
                            <td class="">Win 98+ / OSX.2+</td>
                            <td class="center ">1.7</td>
                            <td class="text-center">
                                <button class="btn btn-default btn-rounded btn-outline btn-xs"><i class="fa fa-times"></i></button>
                                <button class="btn btn-default btn-rounded btn-outline btn-xs"><i class="fa fa-check"></i></button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <div class="row">
                    <div class="info col-sm-4">
                        Showing 51 to 57 of <b>57</b> entries
                    </div>
                    <div class="col-sm-8 pull-right text-right">
                        <ul class="pagination no-margin">
                            <li class="previous1"  tabindex="0">
                                <a class="fa fa-angle-double-left"></a>
                            </li>
                            <li class="previous1"  tabindex="0">
                                <a class="fa fa-angle-left"></a>
                            </li>
                            <li class="" tabindex="0"><a href="#">1</a></li>
                            <li class="" tabindex="0"><a href="#">2</a></li>
                            <li class="" tabindex="0"><a href="#">3</a></li>
                            <li class="" tabindex="0"><a href="#">4</a></li>
                            <li class="active" tabindex="0"><a href="#">5</a></li>
                            <li class="" tabindex="0"><a href="#">6</a></li>
                            <li class="" tabindex="0"><a href="#">7</a></li>
                            <li class="" tabindex="0"><a href="#">8</a></li>
                            <li class=""  tabindex="0"><a href="#">9</a></li>
                            <li class="next" tabindex="0">
                                <a class="fa fa-angle-right"></a>
                            </li>
                            <li class="next disabled"  tabindex="0">
                                <a class="fa fa-angle-double-right"></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>