.bg-white {
  background-color: #fff;
}

.bg-light-soft {
  background-color: $color-background;
}

.bg-light {
  background-color: $color-bright;
}

.bg-red {
    background-color: red;
}

.bg-pink {
    background-color: pink;
}

.bg-orange {
    background-color: orange;
}