<div>
    <div class="row">

        <div class="col-md-7">
            <ol class="breadcrumb">
                <li>
                    <a href="index.html">Dashboard</a>
                </li>
                <li>
                    <span>Tables</span>
                </li>
                <li class="active">
                    <span>Tables design</span>
                </li>
            </ol>
        </div>
        <div class="col-md-5 text-right pull-right">
            <button class="btn btn-sm btn-default w-xxs" type="submit">Cancel</button>
            <button class="btn btn-sm btn-primary w-xxs" type="submit">Save</button>
        </div>
    </div>
</div>